/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Nunito Sans, ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
#root .fixed {
  position: fixed;
}
#root .absolute {
  position: absolute;
}
#root .relative {
  position: relative;
}
#root .right-\[48px\] {
  right: 48px;
}
#root .bottom-\[20px\] {
  bottom: 20px;
}
#root .top-0 {
  top: 0px;
}
#root .z-50 {
  z-index: 50;
}
#root .col-span-2 {
  grid-column: span 2 / span 2;
}
#root .m-auto {
  margin: auto;
}
#root .mx-auto {
  margin-left: auto;
  margin-right: auto;
}
#root .my-\[20px\] {
  margin-top: 20px;
  margin-bottom: 20px;
}
#root .my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
#root .mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
#root .mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}
#root .my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#root .my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#root .mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#root .mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
#root .my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
#root .my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#root .mt-\[2px\] {
  margin-top: 2px;
}
#root .mt-96 {
  margin-top: 24rem;
}
#root .mt-16 {
  margin-top: 4rem;
}
#root .ml-\[170px\] {
  margin-left: 170px;
}
#root .mt-4 {
  margin-top: 1rem;
}
#root .mt-2 {
  margin-top: 0.5rem;
}
#root .ml-4 {
  margin-left: 1rem;
}
#root .mt-\[3rem\] {
  margin-top: 3rem;
}
#root .mt-12 {
  margin-top: 3rem;
}
#root .ml-6 {
  margin-left: 1.5rem;
}
#root .mt-\[4px\] {
  margin-top: 4px;
}
#root .mt-10 {
  margin-top: 2.5rem;
}
#root .mb-12 {
  margin-bottom: 3rem;
}
#root .mb-10 {
  margin-bottom: 2.5rem;
}
#root .ml-0 {
  margin-left: 0px;
}
#root .mb-8 {
  margin-bottom: 2rem;
}
#root .mt-40 {
  margin-top: 10rem;
}
#root .mt-6 {
  margin-top: 1.5rem;
}
#root .mb-24 {
  margin-bottom: 6rem;
}
#root .mr-1 {
  margin-right: 0.25rem;
}
#root .mt-\[-20px\] {
  margin-top: -20px;
}
#root .-mb-4 {
  margin-bottom: -1rem;
}
#root .mt-5 {
  margin-top: 1.25rem;
}
#root .mt-3 {
  margin-top: 0.75rem;
}
#root .mt-1 {
  margin-top: 0.25rem;
}
#root .mr-2 {
  margin-right: 0.5rem;
}
#root .mb-6 {
  margin-bottom: 1.5rem;
}
#root .block {
  display: block;
}
#root .inline-block {
  display: inline-block;
}
#root .flex {
  display: flex;
}
#root .grid {
  display: grid;
}
#root .hidden {
  display: none;
}
#root .h-8 {
  height: 2rem;
}
#root .h-96 {
  height: 24rem;
}
#root .h-full {
  height: 100%;
}
#root .h-\[1px\] {
  height: 1px;
}
#root .h-6 {
  height: 1.5rem;
}
#root .h-11 {
  height: 2.75rem;
}
#root .h-24 {
  height: 6rem;
}
#root .h-14 {
  height: 3.5rem;
}
#root .h-screen {
  height: 100vh;
}
#root .h-56 {
  height: 14rem;
}
#root .h-5 {
  height: 1.25rem;
}
#root .h-64 {
  height: 16rem;
}
#root .h-4 {
  height: 1rem;
}
#root .w-\[160px\] {
  width: 160px;
}
#root .w-full {
  width: 100%;
}
#root .w-48 {
  width: 12rem;
}
#root .w-6 {
  width: 1.5rem;
}
#root .w-11 {
  width: 2.75rem;
}
#root .w-screen {
  width: 100vw;
}
#root .w-\[60\%\] {
  width: 60%;
}
#root .w-14 {
  width: 3.5rem;
}
#root .w-\[80\%\] {
  width: 80%;
}
#root .w-11\/12 {
  width: 91.666667%;
}
#root .w-\[300px\] {
  width: 300px;
}
#root .w-36 {
  width: 9rem;
}
#root .w-\[103px\] {
  width: 103px;
}
#root .w-\[90\%\] {
  width: 90%;
}
#root .w-5 {
  width: 1.25rem;
}
#root .w-4\/6 {
  width: 66.666667%;
}
#root .min-w-\[300px\] {
  min-width: 300px;
}
#root .min-w-\[100px\] {
  min-width: 100px;
}
#root .max-w-full {
  max-width: 100%;
}
#root .max-w-\[300px\] {
  max-width: 300px;
}
#root .max-w-sm {
  max-width: 24rem;
}
#root .max-w-lg {
  max-width: 32rem;
}
#root .grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#root .grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
#root .grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
#root .flex-col {
  flex-direction: column;
}
#root .flex-wrap {
  flex-wrap: wrap;
}
#root .items-end {
  align-items: flex-end;
}
#root .items-center {
  align-items: center;
}
#root .justify-end {
  justify-content: flex-end;
}
#root .justify-center {
  justify-content: center;
}
#root .justify-between {
  justify-content: space-between;
}
#root .gap-4 {
  gap: 1rem;
}
#root .gap-8 {
  gap: 2rem;
}
#root .gap-6 {
  gap: 1.5rem;
}
#root .overflow-hidden {
  overflow: hidden;
}
#root .rounded-md {
  border-radius: 0.375rem;
}
#root .rounded {
  border-radius: 0.25rem;
}
#root .rounded-full {
  border-radius: 9999px;
}
#root .rounded-sm {
  border-radius: 0.125rem;
}
#root .border-2 {
  border-width: 2px;
}
#root .border {
  border-width: 1px;
}
#root .border-blue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity));
}
#root .bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
#root .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
#root .bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}
#root .bg-\[\#fafafa\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
#root .bg-indigo-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity));
}
#root .bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
#root .bg-transparent {
  background-color: transparent;
}
#root .bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
#root .bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
#root .bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
#root .bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}
#root .bg-red-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(185 28 28 / var(--tw-bg-opacity));
}
#root .bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}
#root .bg-teal-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity));
}
#root .bg-pink-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
}
#root .bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}
#root .bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
#root .bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}
#root .bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
#root .from-cyan-500 {
  --tw-gradient-from: #06b6d4;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(6 182 212 / 0));
}
#root .from-purple-500 {
  --tw-gradient-from: #a855f7;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(168 85 247 / 0));
}
#root .to-blue-500 {
  --tw-gradient-to: #3b82f6;
}
#root .to-pink-500 {
  --tw-gradient-to: #ec4899;
}
#root .bg-cover {
  background-size: cover;
}
#root .fill-current {
  fill: currentColor;
}
#root .object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
#root .p-2 {
  padding: 0.5rem;
}
#root .px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
#root .px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
#root .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#root .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
#root .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
#root .px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#root .py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#root .px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
#root .px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
#root .pb-2 {
  padding-bottom: 0.5rem;
}
#root .text-left {
  text-align: left;
}
#root .text-center {
  text-align: center;
}
#root .text-right {
  text-align: right;
}
#root .text-justify {
  text-align: justify;
}
#root .text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
#root .text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
#root .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
#root .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
#root .text-\[12px\] {
  font-size: 12px;
}
#root .font-bold {
  font-weight: 700;
}
#root .font-medium {
  font-weight: 500;
}
#root .font-semibold {
  font-weight: 600;
}
#root .uppercase {
  text-transform: uppercase;
}
#root .leading-snug {
  line-height: 1.375;
}
#root .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
#root .text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
#root .text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
#root .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
#root .text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
#root .text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
#root .text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
#root .text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
#root .placeholder-gray-200::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(229 231 235 / var(--tw-placeholder-opacity));
}
#root .placeholder-gray-200:-ms-input-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(229 231 235 / var(--tw-placeholder-opacity));
}
#root .placeholder-gray-200::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(229 231 235 / var(--tw-placeholder-opacity));
}
#root .shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#root .transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
#root .delay-150 {
  transition-delay: 150ms;
}
#root .duration-150 {
  transition-duration: 150ms;
}
#root .ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
#root .hover\:scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
#root .hover\:bg-\[\#eeeeee\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity));
}
#root .hover\:bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
#root .hover\:bg-gray-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
#root .hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
#root .hover\:bg-red-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
}
#root .hover\:bg-blue-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
#root .hover\:font-medium:hover {
  font-weight: 500;
}
#root .hover\:text-gray-800:hover {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}
#root .hover\:text-gray-100:hover {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}
#root .hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
#root .hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#root .hover\:shadow-md:hover {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#root .focus\:bg-blue-500:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}
#root .focus\:bg-indigo-500:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
#root .focus\:bg-red-800:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
}
#root .focus\:text-gray-700:focus {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
#root .focus\:text-gray-600:focus {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
#root .focus\:shadow-lg:focus {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#root .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
#root .focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
#root .active\:bg-gray-300:active {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}
#root .active\:bg-red-800:active {
  --tw-bg-opacity: 1;
  background-color: rgb(153 27 27 / var(--tw-bg-opacity));
}
#root .active\:bg-gray-200:active {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
#root .active\:shadow-md:active {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#root .active\:shadow-lg:active {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
@media (min-width: 640px) {

  #root .sm\:mt-\[400px\] {
    margin-top: 400px;
  }

  #root .sm\:mt-\[220px\] {
    margin-top: 220px;
  }

  #root .sm\:ml-8 {
    margin-left: 2rem;
  }

  #root .sm\:mb-0 {
    margin-bottom: 0px;
  }

  #root .sm\:mt-20 {
    margin-top: 5rem;
  }

  #root .sm\:mt-\[260px\] {
    margin-top: 260px;
  }

  #root .sm\:inline-block {
    display: inline-block;
  }

  #root .sm\:w-64 {
    width: 16rem;
  }

  #root .sm\:w-2\/3 {
    width: 66.666667%;
  }

  #root .sm\:w-full {
    width: 100%;
  }

  #root .sm\:w-\[60\%\] {
    width: 60%;
  }

  #root .sm\:w-\[40\%\] {
    width: 40%;
  }

  #root .sm\:min-w-\[320px\] {
    min-width: 320px;
  }

  #root .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #root .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #root .sm\:flex-nowrap {
    flex-wrap: nowrap;
  }

  #root .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 768px) {

  #root .md\:mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #root .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  #root .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  #root .md\:mt-0 {
    margin-top: 0px;
  }

  #root .md\:mt-48 {
    margin-top: 12rem;
  }

  #root .md\:ml-20 {
    margin-left: 5rem;
  }

  #root .md\:mb-0 {
    margin-bottom: 0px;
  }

  #root .md\:ml-8 {
    margin-left: 2rem;
  }

  #root .md\:inline-block {
    display: inline-block;
  }

  #root .md\:flex {
    display: flex;
  }

  #root .md\:hidden {
    display: none;
  }

  #root .md\:h-16 {
    height: 4rem;
  }

  #root .md\:w-24 {
    width: 6rem;
  }

  #root .md\:w-full {
    width: 100%;
  }

  #root .md\:w-1\/3 {
    width: 33.333333%;
  }

  #root .md\:w-10\/12 {
    width: 83.333333%;
  }

  #root .md\:w-1\/2 {
    width: 50%;
  }

  #root .md\:w-\[60\%\] {
    width: 60%;
  }

  #root .md\:w-\[40\%\] {
    width: 40%;
  }

  #root .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  #root .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #root .md\:flex-row {
    flex-direction: row;
  }

  #root .md\:items-center {
    align-items: center;
  }

  #root .md\:justify-start {
    justify-content: flex-start;
  }

  #root .md\:justify-between {
    justify-content: space-between;
  }

  #root .md\:p-0 {
    padding: 0px;
  }

  #root .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #root .md\:pb-0 {
    padding-bottom: 0px;
  }

  #root .md\:text-left {
    text-align: left;
  }

  #root .md\:text-center {
    text-align: center;
  }
}
@media (min-width: 1024px) {

  .lg\:container {
    width: 100%;
  }

  @media (min-width: 640px) {

    .lg\:container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {

    .lg\:container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {

    .lg\:container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {

    .lg\:container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {

    .lg\:container {
      max-width: 1536px;
    }
  }

  #root .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  #root .lg\:h-96 {
    height: 24rem;
  }

  #root .lg\:w-36 {
    width: 9rem;
  }

  #root .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #root .lg\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {

  #root .xl\:w-3\/4 {
    width: 75%;
  }

  #root .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  #root .xl\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  #root .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {

  #root .\32xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  #root .\32xl\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

